


@media all and (max-width:575px) {
    /* .custom-vis {
        visibility: hidden;
    }
    .custom-invis {
        visibility: visible;
    } */
    a {
        font-size: calc(0.6vw + 5px);
        /* overflow: hidden; */
    }

    .custom {
        position: relative;
    }

    h5 {
        position: absolute;
        top: 70%;
        font-size: calc(0.8vw + 6px);
    }
    .custom-span {
        position: absolute;
        top: 25%;
        right: 35%;
        background-color: #0c7bf9;
        width: 40px;
        height: 15px;
    }

    .custom-pp {
        position: absolute;
        top: 55%;
        left: 23%;
        font-size: calc(0.8vw + 5px);
    }

    .custom-hh {
        position: absolute;
        top: 45%;
        left: 20%;
        font-size: calc(0.8vw + 8px);
    }

}

@media all and (min-width:576px) and (max-width:767px) {
    /* .custom-vis {
        visibility: hidden;
    }
    .custom-invis {
        visibility: visible;
    } */
    a {
        font-size: calc(0.8vw + 9px);
        /* overflow: hidden; */
    }

    .custom {
        position: relative;
    }

    h5 {
        position: absolute;
        top: 70%;
        font-size: calc(0.8vw + 6px);
    }
    .custom-span {
        position: absolute;
        top: 30%;
        right: 35%;
        background-color: #0c7bf9;
        width: 45px;
        line-height: 25px;
        height: 30px;
        font-weight: 700;
    }

    .custom-pp {
        position: absolute;
        top: 55%;
        left: 25%;
        font-size: calc(0.8vw + 9px);
    }

    .custom-hh {
        position: absolute;
        top: 45%;
        left: 20%;
        font-size: calc(1vw + 10px);
    }
}

@media all and (min-width:768px) and (max-width:991px) {
    /* .custom-vis {
        visibility: visible;
    }
    .custom-invis {
        visibility: hidden;
    } */
    a {
        font-size: calc(0.6vw + 4px);
        /* overflow: hidden; */
    }
    
    button {
        position: absolute;
        top: 92%;
        width: 75px;
        height: 25px;
        transform: translate(-50%,-50%);
        left: 50%;
        background-color: black;
        border: none;
        transition: all 300ms linear 0s;
        visibility: hidden;
    }
    
    .custom:hover button{
        top: 87%;
        visibility: visible;
    }
    
    .custom {
        /* transition: all 200ms linear 0s; */
        overflow: hidden;
    }
    
    img {
        transition: all 200ms linear 0s;
      }
    
    .custom:hover img{
        transform: scale(1.10);
    }
    
    /* img {
        transition: all 200ms linear 0s;
      }
    
    a:hover img {
        transform: scale(1.15);
    } */
    
    .custom {
        position: relative;
    }
    
    h5 {
        position: absolute;
        top: 70%;
        font-size: calc(0.8vw + 7px);
    
    }
    
    p {
        position: absolute;
        top: 80%;
        transition: all 300ms linear 0s;
    }
    
    .custom:hover p {
        top: 75%;
        visibility: hidden;
    }
    
    .custom-span {
        position: absolute;
        top: 5%;
        left: 15px;
        background-color: #0c7bf9;
        width: 40px;
    }
    
    /* .custom-b {
        font-size: calc(0.9vw + 4px);
    } */
}

@media all and (min-width:992px) and (max-width:1199px) {
    /* .custom-vis {
        visibility: visible;
    }
    .custom-invis {
        visibility: hidden;
    } */
    a {
        font-size: calc(0.6vw + 6px);
        /* overflow: hidden; */
    }
    
    button {
        position: absolute;
        top: 90%;
        width: 80px;
        height: 30px;
        transform: translate(-50%,-50%);
        left: 50%;
        background-color: black;
        border: none;
        transition: all 300ms linear 0s;
        visibility: hidden;
    }
    
    .custom:hover button{
        top: 85%;
        visibility: visible;
    }
    
    .custom {
        /* transition: all 200ms linear 0s; */
        overflow: hidden;
    }
    
    img {
        transition: all 200ms linear 0s;
      }
    
    .custom:hover img{
        transform: scale(1.10);
    }
    
    /* img {
        transition: all 200ms linear 0s;
      }
    
    a:hover img {
        transform: scale(1.15);
    } */
    
    .custom {
        position: relative;
    }
    
    h5 {
        position: absolute;
        top: 70%;
        font-size: calc(0.8vw + 8px);
    
    }
    
    p {
        position: absolute;
        top: 80%;
        transition: all 300ms linear 0s;
    }
    
    .custom:hover p {
        top: 75%;
        visibility: hidden;
    }
    
    .custom-span {
        position: absolute;
        top: 5%;
        left: 15px;
        background-color: #0c7bf9;
        width: 40px;
    }
    
    /* .custom-b {
        font-size: calc(0.9vw + 4px);
    } */
}

@media all and (min-width:1200px) and (max-width:1399px) {
    /* .custom-vis {
        visibility: visible;
    }
    .custom-invis {
        visibility: hidden;
    } */
    a {
        font-size: calc(0.6vw + 6px);
        /* overflow: hidden; */
    }
    
    button {
        position: absolute;
        top: 90%;
        width: 90px;
        height: 40px;
        transform: translate(-50%,-50%);
        left: 50%;
        background-color: black;
        border: none;
        transition: all 300ms linear 0s;
        visibility: hidden;
    }
    
    .custom:hover button{
        top: 85%;
        visibility: visible;
    }
    
    .custom {
        /* transition: all 200ms linear 0s; */
        overflow: hidden;
    }
    
    img {
        transition: all 200ms linear 0s;
      }
    
    .custom:hover img{
        transform: scale(1.10);
    }
    
    /* img {
        transition: all 200ms linear 0s;
      }
    
    a:hover img {
        transform: scale(1.15);
    } */
    
    .custom {
        position: relative;
    }
    
    h5 {
        position: absolute;
        top: 70%;
        font-size: calc(0.8vw + 7px);
    
    }
    
    p {
        position: absolute;
        top: 80%;
        transition: all 300ms linear 0s;
    }
    
    .custom:hover p {
        top: 75%;
        visibility: hidden;
    }
    
    .custom-span {
        position: absolute;
        top: 5%;
        left: 15px;
        background-color: #0c7bf9;
        width: 45px;
    }
    
    /* .custom-b {
        font-size: calc(0.9vw + 4px);
    } */
}

@media all and (min-width:1400px) {
    /* .custom-vis {
        visibility: visible;
    }
    .custom-invis {
        visibility: hidden;
    } */
    a {
        font-size: calc(0.6vw + 7px);
        /* overflow: hidden; */
    }
    
    button {
        position: absolute;
        top: 90%;
        width: 90px;
        height: 40px;
        transform: translate(-50%,-50%);
        left: 50%;
        background-color: black;
        border: none;
        transition: all 300ms linear 0s;
        visibility: hidden;
    }
    
    .custom:hover button{
        top: 85%;
        visibility: visible;
    }
    
    .custom {
        /* transition: all 200ms linear 0s; */
        overflow: hidden;
    }
    
    img {
        transition: all 200ms linear 0s;
      }
    
    .custom:hover img{
        transform: scale(1.10);
    }
    
    /* img {
        transition: all 200ms linear 0s;
      }
    
    a:hover img {
        transform: scale(1.15);
    } */
    
    .custom {
        position: relative;
    }
    
    h5 {
        position: absolute;
        top: 70%;
        font-size: calc(0.8vw + 8px);
    
    }
    
    p {
        position: absolute;
        top: 80%;
        transition: all 300ms linear 0s;
    }
    
    .custom:hover p {
        top: 75%;
        visibility: hidden;
    }
    
    .custom-span {
        position: absolute;
        top: 5%;
        left: 15px;
        background-color: #0c7bf9;
        width: 55px;
    }
    
    /* .custom-b {
        font-size: calc(0.9vw + 4px);
    } */
}